.button {
    cursor: pointer;

    height: 35px;
    text-align: left;

    display: flex;
    border: none;
    
    background-color: transparent;
}

.text {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.icon {
    height: 24px;
    width: 24px;

    background-repeat: no-repeat;
    background-position: center;
}

.icon path {
    fill: #000;
}

.icon .path {
    fill: #919191;
}

.button:hover {
    border-right: 3px #919191 solid;
}

.button:hover .text {
    color: #919191;
}

.button:hover path {
    fill: #919191;
}