@import-normalize;

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --color-primary: #24c53c;
  --color-back-primary: rgb(255, 255, 255);
  --color-back-additional: #24292f;
  --color-font-primary: #000;
  --color-font-additional: #fff; 
}